<div class="ui middle aligned grid child">
    <div class="column">
        <div class="ui center aligned page grid">
            <div class="row">
                <div class="sixteen wide column">
                    <div class="ui huge center aligned grey inverted header">Ryan C Morrissey</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui middle aligned grid child">
    <div class="column">
        <div class="ui center aligned page grid">
            <div class="row">
                <div class="sixteen wide column">
                    <div class="ui buttons">
                        <a class="ui primary button" href="http://ryancmorrissey.com/cv/">View My CV</a>
                        <div class="or"></div>
                        <a class="ui grey button" href="http://ryancmorrissey.com/cv/downloads/ryancmorrissey-cv.pdf">Download PDF</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>