// ============================================================================
// Utility Classes
// ============================================================================

// Hide visually and from screen readers
.hidden,
[hidden] {
	display: none !important;
}

// Hide only visually, but available for screen readers
// https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
.visually-hidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;

	// Allow element to be focusable when navigated via keyboard
	// https://www.drupal.org/node/897638
	&.focusable:active,
	&.focusable:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		white-space: inherit;
		width: auto;
	}
}

// Hide visually and from screen readers, but maintain layout
.invisible {
	visibility: hidden;
}

// Clearfix: contain floats
// Using `table` rather than `block` to contain top-margins of child elements
.clearfix {
	&::before,
	&::after {
		content: "";
		display: table;
	}

	&::after {
		clear: both;
	}
}
