---
import links from '../data/links.json';
---

<ul>
    {links.map((link, index) => (
      <>
        <li>
          <a href={link.url} title={link.title}>{link.label}</a>
        </li>
        {index < links.length - 1 && <li class="divider">|</li>}
      </>
    ))}
</ul>