---
import links from "../data/links.json";
---

<ul>
	{
		links.map((link, index) => (
			<>
				<a href={link.url} title={link.title}>
					{link.label}
				</a>
				{index < links.length - 1 && (
					<span class="divider" aria-hidden="true">
						|
					</span>
				)}
			</>
		))
	}
</ul>
